@import 'header.css';
@import 'footer.css';
.main.map {
    grid-template-rows: 0.3fr 8fr;
    width: 100%;
}

@media screen and (min-width:47em) {
    body {
        font-size: 90%;
    }
}

@media screen and (min-width:80em) {
    body {
        font-size: 100%;
    }
    .main.map {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 8fr;
        gap: 0.0625em 0.0625em;
        grid-template-areas: "title" "map";
        grid-area: main;
        width: 70%;
        background-color: #f5f5f5;
        margin: 0 auto;
        box-shadow: 0.4em 0.18em 0.9em -0.125em rgba(0, 0, 0, 0.44);
    }
    .main.map .title {
        margin: auto;
    }
}